<h1>Meet Needle</h1>
<h3><i>needle help planning?</i></h3>

<div class="welcomePage">
<h4>Create a Profile</h4>

<label class="welcomeInput">Name</label>
<input class="welcomeInput" type="text" name="name" ng-model="userObject.name"><br>

<label class="welcomeInput">Current Location</label>
<input class="welcomeInput" type="text" name="location" ng-model="userObject.currentLocation"><br>
<button class="welcomeInput" ng-click="createUserProfile()"> <a ng-href="#/preferences"</a>Next</button><br>
</div>
