<h1>WOOOO HOOOO YOU HAVE THINGS TO DOOOO!</h1>
<div class="row">
    <div ng-repeat="object in finalItinerary">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div>{{object.name}}</div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>
  </div>

  <!-- <div class="row">
    <div ng-repeat="object in finalItinerary" ng-if="object.timeOfDay === 'middle'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div>{{object.name}}</div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="object in finalItinerary" ng-if="object.timeOfDay === 'evening'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div>{{object.name}}</div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>
  </div> -->

<!--   <div class="row">
    <div ng-repeat="object in finalItinerary">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div>{{object.name}}</div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>
  </div> -->

