<h1>Woohoo You Have Things To Do!</h1>
<div class="row">
    <!-- <div ng-repeat="object in finalItinerary">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div><b>{{object.name}}</b></div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div> -->

<h1>Morning Activity</h1>
<div ng-repeat="object in finalItinerary" ng-if="object.when === 'morning'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div><b>{{object.name}}</b></div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>

<h1>Afternoon Activity</h1>
<div ng-repeat="object in finalItinerary" ng-if="object.when === 'afternoon'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div><b>{{object.name}}</b></div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>

<h1>Evening Activity</h1>
<div ng-repeat="object in finalItinerary" ng-if="object.when === 'evening'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div><b>{{object.name}}</b></div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>

<h1>Activity for Anytime</h1>
<div ng-repeat="object in finalItinerary" ng-if="object.when === 'any'">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div><b>{{object.name}}</b></div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>

  <div>
    <div class="weatherBlock">
      <h2>Today's Weather in Nashville, TN</h2>
      <h4>{{$scope.weatherIcon}}</h4>
      <h4>{{$scope.feelsLike}}</h4>
      <h4>{{$scope.precipitation}}</h4>
    </div>
  </div>

  </div>
