<div class="showGenerateItinerary">
<h1><u>Generate an Itinerary!</u></h1>

<h2 class="itinerary">How much time do you have?</h2>
  <select class="itinerary" name="time" ng-model="userTime">
    <option value="fewHours">Few Hours</option>
    <option value="halfDay">Half Day</option>
    <option value="fullDay">Full Day</option>
  </select><br>

<button ng-click="generateItinerary()">Submit</a></button>

<h3 class="itinerary">COMFORT</h3>
<h4 class="itinerary">This option will generate an itinerary <br> based on places you have been and know you will enjoy</h4>
<div class=itinerarybtn>
<button>Comfort</button>
</div>

<h3 class="itinerary">TRY SOMETHING NEW</h3>
<h4 class="itinerary"> This will generate a day based on places you are excite to try!</h4>
<div class=itinerarybtn>
<button>Try Something New</button>
</div>

<h3 class="itinerary">TRUST</h3>
<h4 class="itinerary"> This will generate a day with both places you know mixed with places you have never been before. <br>You can <i>trust</i> that it will be a great day!</h4>
<div class=itinerarybtn>
<button>Try Something New</button>
</div>
</div>

<!-- DIFFERENT VIEW...KINDA -->

<div class="showItinerary">
<h1>WOOOO HOOOO YOU HAVE THINGS TO DOOOO!</h1>
<div class="row">
    <div ng-repeat="object in finalItinerary">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{object.photo}}">
            <div>{{object.name}}</div>
            <div>{{object.address}}</div>
            <div>{{object.comments}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
          </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
