<h1>Create an Event!</h1>
<label>Name</label>
<input type="text" name="name">
<label>Address</label>
<input type="text" name="addresss">
<select>
  <option value="breweries">Breweries</option>
  <option value="tours">Tours</option>
  <option value="coffee">Coffee</option>
  <option value="cityPark">City Park</option>
  <option value="shopping">Shopping</option>
  <option value="waterfallHike">Waterfall Hike</option>
  <option value="placesToEat">Places to Eat</option>
  <option value="getDrinks">Get Drinks</option>
  <option value="liveMusic">Live Music</option>
</select>
