<h1>Create an Event!</h1>
<label>Name</label>
<input type="text" name="name" ng-model="event.name">
<label>Address</label>
<input type="text" name="addresss" ng-model="event.address">
<label for="eventType">Event Type:</label>
<select name="eventType" ng-model="event.type">
  <option value="breweries">Breweries</option>
  <option value="tours">Tours</option>
  <option value="coffee">Coffee</option>
  <option value="cityPark">City Park</option>
  <option value="shopping">Shopping</option>
  <option value="waterfallHike">Waterfall Hike</option>
  <option value="placesToEat">Places to Eat</option>
  <option value="getDrinks">Get Drinks</option>
  <option value="liveMusic">Live Music</option>
</select>

<label for="visited">Have you been here?</label>
<select name="visited" ng-model="event.visited">
  <option value=true>Yes, I have been here</option>
  <option value=false>No, but I want to go!</option>
</select>
<button ng-click="saveEventToUserProfile(event)" ng-href="#/myEvents">Save</button>

