<div class="welcome-img">
  <img  src="../app/photos/pb3.png">
</div>

<div class="container">
  <h1>Customize Your Profile</h1>
  <p class="welcomePage">Browse our Nashville favorites to find places you know and love, <br>or click "Create Event" at the top to add your own!</p><br>
<!--   <div class="row"> -->
<hr>
<!-- REPEAT EVENT TYPE TITLES -->
    <div class="row" ng-repeat="object in objectsForDOM">
      <h3 class="selectionTitles" style="text-align:center; color:#444;">{{object.eventType}}</h3>

<!-- REPEAT EVENTS WITHIN EVENT TYPE -->
      <div>
        <div class="col-md-3 selection-card" ng-repeat="event in object.events">
          <div class ="panel panel-success .containerfluid">
            <div class="panel-body">
              <div class="centerImg" style="text-align:center;"><img class="selection-pic" src= "{{event.photo}}"></div>
              <div class="event-description">
                <h5 class="event-description">{{event.name}}</h5>
              </div>
              <div class="event-description">{{event.address}}</div>
              <div style="text-align:center;" class="input-group-btn  board-list">

<!-- BUTTONS ON EVENTS - EDIT AND DELETE -->
                <button class="btn btn-success event-description" style="margin-top: 5px; margin-right:5px;" ng-click="saveEventToProfileVisited(event)">Been Here</button>
                <button class="btn btn-success event-description" style="margin-top: 5px;" ng-click="saveEventToProfileNotVisited(event)">Wanna Go</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<hr><br>

<div style="text-align:center;">
<button class="needleBtn" style="margin-bottom:25px; margin-left:auto;"><a style="color:white" href="#/myEvents">Customize Events</a></button>
</div>

</div>
