<div class="container">
  <h1>Choose from our Nashville favorites, or add your own!</h1>
<!--   <div class="row"> -->

<!-- REPEAT EVENT TYPE TITLES -->
    <div class="row" ng-repeat="object in objectsForDOM">
      <h1 class="selectionTitles">{{object.eventType}}</h1>

<!-- REPEAT EVENTS WITHIN EVENT TYPE -->
      <div>
        <div class="col-md-3 selection-card" ng-repeat="event in object.events">
          <div class ="panel panel-success .containerfluid">
            <div class="panel-body">
              <img class="selection-pic" src= "{{event.photo}}">
              <div class="event-description">
                <h5 class="event-description">{{event.name}}<h5>
              </div>
              <div class="event-description">{{event.address}}</div>
              <div class="input-group-btn  board-list">

<!-- BUTTONS ON EVENTS - EDIT AND DELETE -->
                <button class="btn btn-success event-description" style="margin-top: 5px;" ng-click="saveEventToProfileVisited(event)">Love this place!</button><br>
                <button class="btn btn-success event-description" style="margin-top: 5px;" ng-click="saveEventToProfileNotVisited(event)">Never Been</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>


