<h1><u>Your Events</u></h1>

<div class="container">
<h1>Places You've Been</h1>
  <div class="row">
    <div class ="col-md-3 selection-card" ng-repeat="event in userEvents" ng-if="event.visited == true">
      <div class ="panel panel-success .containerfluid">
        <div class="panel-body">
            <div><img class="selection-pic" src= "{{event.photo}}"></div>
            <div class="event-description">
              <h5>{{event.name}}</h5>
            </div>
            <div class="event-description">{{event.address}}</div>
            <div>{{event.comments}}</div>
            <div class="input-group-btn">
              <button class="btn btn-success" style="margin-top: 5px;" ng-click="removeEvent(event.id)"">Remove</button>
              <button class="btn btn-success" style="margin-top: 5px;"><a href = "#/{{event.id}}/edit">Edit</a></button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<h1>Places You Want To Go</h1>
  <div class="row">
    <div class ="col-md-3 selection-card" ng-repeat="event in userEvents" ng-if="event.visited == false">
      <div class ="panel panel-success .containerfluid">
        <div class="panel-body">
            <div><img class="selection-pic" src= "{{event.photo}}"></div>
            <div class="event-description">
              <h5>{{event.name}}</h5>
            </div>
            <div class="event-description">{{event.address}}</div>
            <div>{{event.comments}}</div>
            <div class="input-group-btn">
              <button class="btn btn-success" style="margin-top: 5px;" ng-click="removeEvent(event.id)"">Remove</button>
              <button class="btn btn-success" style="margin-top: 5px;"><a href = "#/{{event.id}}/edit">Edit</a></button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="bd-footer text-muted">
  <div>
    <!-- <img class="pseudoFooter" style="height:75px; width:180px;" src="../app/photos/logo.png"> -->
    <h5 style="color:black;">Update</h5>
    <h6><a href="#/selections">Selected Events</a></h6>
    <h6><a href="#/preferences">Itinerary Preferences</a></h6>
  </div>
</footer>

