<h1>Your Events</h1>

<h1>Places You've Been</h1>
  <div class="row">
    <div ng-repeat="event in eventsVisited" ng-if="event.visited === true">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{event.photo}}">
            <div>{{event.name}}</div>
            <div>{{event.address}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px;" ng-click="removeEvent(event.uid, event.address)"">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<h1>Places You Want To Go</h1>
  <div class="row">
    <div ng-if="" ng-repeat="event in eventsNotVisited" ng-if="event.visited === false">
      <div class ="panel panel-success col-md-3 .containerfluid">
        <div class="row">
          <div class="panel-body">
            <img class="selection-pic materialboxed .img-responsive" src= "{{event.photo}}">
            <div>{{event.name}}</div>
            <div>{{event.address}}</div>
            <data class="col-md-1"></data>
            <div class="input-group-btn">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px;" ng-click="removeEvent(event.uid, event.address)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
