/*body {
    background-image: url("app/photos/restaurant-766050_1280.jpg");
    background-repeat: no-repeat;
}*/

/*.logo_img {
  width: 170px;
  height: 90px;
}*/

.eventDiv{
  display: block;
  height: 100px;
  width: 100px;
}


h1, h3, .preferencesForm {
  text-align: center;
}
