/*body {
    background-image: url("app/photos/restaurant-766050_1280.jpg");
    background-repeat: no-repeat;
}*/

/*.logo_img {
  width: 170px;
  height: 90px;
}*/


.eventDiv{
  display: block;
  height: 100px;
  width: 100px;
}


h1, h3, .preferencesForm {
  text-align: center;
  font-family: avenir;
}

.itinerary {
  text-align: center;
}

.itinerarybtn {
  display: block;
}

.selection-pic {
    max-height: 130px;
    min-height: 130px;
    max-width: 250px;
    margin:0 auto;
}

.selection-card {
  max-height:350px;
  max-width:350px;
  overflow: scroll;
  margin-top: 10px;
}

.selection-card h5 {
  font-weight: bold;
}

.event-description {
  text-align: center;
}

.panel-boady {
  margin-left: 20px;
}

.welcomePage {
  text-align: center;
  margin-top: 50px;
}

.welcomeInput {
  text-align: left;
  margin-top: 10px;
}

.btn-info {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.nvabar-brand img {
  height: 25px;
  width: 8px;
}

.newEventForm {
  text-align: center;
  display: block;
}

.newEventInput {
  text-align: center;
  display: inline-block;
}


.preferencesForm {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.preferencesInput {
  text-align: center;
  display: block;
  margin-top: 10px;
}

.welcome-img {
  margin-left: 290px;
}

.eventBlock {
  text-align: center;
}

.eventBlock img {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}

.navbar {
  background-color: #0095E3;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

.weatherBlock {
  display:block;
}

.selectionTitles{
  text-align: left;
  margin-left: 20px;
}

.pseudoFooter {
  /*display: inline-block;*/
}
